<div>
   <%=  image_tag "parqueo_1.jpg", :class =>'home-img-parque' %> 
</div>

<section class="container home-detalle">
    <div class="row item text-center active">
        <div class="col-sm-6">
            <div>
                <%=  image_tag "how-it-works-search.png", :class =>'home-img-info' %> 
            </div>
            <div>
                <h4>Search</h4>
            </div>
            <div>
                <p>Buscar y comparar todos los precios y opciones de aparcamientos disponibles en miles de estacionamientos y garajes de los distritos de Lima</p>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div>
                <%=  image_tag "how-it-works-park.png", :class =>'home-img-info' %> 
            </div>
            <div>
                <h4>InstaParking </h4>
            </div>
            <div>
                <p>InstaParking ofrece estacionamientos seguros y con los mejores precios del mercado</p>
            </div>
        </div>
    </div>
    <div>
        <h2 id="nosotros">Nosotros</h2>
        <p>
            InstaParking es una aplicación orientada para los usuarios que desean ofertar un estacionamiento y generar ingresos extras. La página le ofrece un ambiente sencillo y efectivo para que pueda registrar la oferta de su estacionamiento. También, le ofrece el servicio de busqueda de estacionamiento por todos los distritos de Lima, garantizandole seguridad y rapidez a la hora de navegar por nuestra página.pagina 
        </p>
    </div>
</section>




