<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>
        Parking Spaces, Garages &amp; Driveways for Rent - YourParkingSpace
</title>
    <meta name="description" content="YourParkingSpace is the online parking marketplace where you'll find parking spaces, driveways and garages for rent throughout the UK. You can also earn money by renting out your own parking space or garage." />
    <meta name="keywords" content="parking, garages, spaces, car parks, rent, rental, marketplace, garage, driveways" />
    <meta name="google-site-verification" content="fAdJQveQitFYqGpulnsfh6D3fbxhVSlSFAsC2YC2x9c" />
    <meta name="google-site-verification" content="tlUueAOFPWySyU39f9ppL0hWv1yegK54noNUO0-T5no" />
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link media="all" type="text/css" rel="stylesheet" href="css/untitled.css">
    <link media="all" type="text/css" rel="stylesheet" href="css/app-blessed1.min.css">
    <link media="all" type="text/css" rel="stylesheet" href="css/app.min.css">
    <script>window.YPS = window.YPS || {};YPS.token = 'iqwPj8nJ6eWHUS4GeX2Xl0GHzTxjEDLznu6ZxhYG';</script>
    <script>window.YPS = window.YPS || {};YPS._token = 'iqwPj8nJ6eWHUS4GeX2Xl0GHzTxjEDLznu6ZxhYG';</script>
    <script>window.YPS = window.YPS || {};YPS._token = 'iqwPj8nJ6eWHUS4GeX2Xl0GHzTxjEDLznu6ZxhYG';</script>
</head>
    <body class="template-homepage">
        <div id="nav">
    <div class="search">
    <form method="GET" action="https://www.yourparkingspace.co.uk/search" accept-charset="UTF-8">
        <button type="submit"><i class="fa fa-search"></i></button>
        <input placeholder="¿Buscas un espacio para estacionar?" name="searchTextField" type="text">
        <input name="lat" type="hidden">
        <input name="lng" type="hidden">
    </form>
</div>
    <div class="nav-inner">
        <nav>
            <ul>
                <li>
                    <a href="https://www.yourparkingspace.co.uk">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="https://www.yourparkingspace.co.uk/using-yps/how-it-works">
                        ¿Como Funciona?
                    </a>
                </li>
                <li>
                    <a href="https://www.yourparkingspace.co.uk/using-yps/happy-customers">
                        Testimonios
                    </a>
                </li>
            </ul>
        </nav>
        <div class="buttons">
            <div class="account">
                <a href="/account">
                    <div class="account-block">
                        <div class="no-avatar">
                            <p>Inicia Sesion</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div id="content-overlay">
        <div class="spacer"></div>
    </div>
    <div id="content-nav-slide">
        <div class="header-space"></div>
        <header>
            <div class="container">
                <div class="burger">
                    <a href="#" class="menu-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </a>
                </div>
                <div class="logo">
                    <a href="https://www.yourparkingspace.co.uk">
                        <img src="https://www.yourparkingspace.co.uk/images/app/logo.png" alt="Your Parking Space">
                    </a>
                </div>
                <div class="header-items">
                    <div class="search">
                        <form method="GET" action="https://www.yourparkingspace.co.uk/search" accept-charset="UTF-8">
                            <button type="submit"><i class="fa fa-search"></i></button>
                            <div class="placeholder">
                                ¿Buscas estacionamiento?
                            </div>
                            <input placeholder="" name="searchTextField" type="text">
                            <input name="lat" type="hidden">
                            <input name="lng" type="hidden">
                        </form>
                    </div>
                    <div class="nav">
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.yourparkingspace.co.uk">
                                        Inicio
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.yourparkingspace.co.uk/using-yps/how-it-works">
                                        ¿Como Funciona?
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.yourparkingspace.co.uk/using-yps/happy-customers">
                                        Testimonios
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="account">
                        <a href="/account">
                            <div class="account-block">
                                <div class="no-avatar">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="name">
                                    Inicia Sesion
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </header>
    <main>
        <section class="search-header">
        <div class="overlay">
            <div class="o">
                <div class="i">
                    <div class="container">
                        <div class="search-content">
                            <h1>Encuentra un estacionamiento</h1>
                            <p>Puedes elegir entre mas de 250,000 estacionamientos, por hora dia y mes</p>
                            <div class="search">
                                <form method="GET" action="https://www.yourparkingspace.co.uk/search" accept-charset="UTF-8">
                                    <div class="placeholder">
                                        ¿Donde te gustaria estacionar?
                                    </div>
                                    <input placeholder="" name="searchTextField" type="text">
                                    <button type="submit"><i class="fa fa-search"></i> Buscar</button>
                                    <input name="lat" type="hidden">
                                    <input name="lng" type="hidden">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="subbar">
        <div class="container">
            <h2>
                Gana dinero alquilando tu estacionamiento, entrada de tu casa o tu garaje
            </h2>
        </div>
    </section>
    </main>
    </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYcyL8HPYfmeY_iRUK5zUCz0IFmx2pAXQ&amp;libraries=places"></script>
<script src="https://www.yourparkingspace.co.uk/js/frontend/vendor.javascript.min.js?1455100344"></script>
<script src="https://www.yourparkingspace.co.uk/js/frontend/app.min.js?1457428389"></script>
<img src="https://yourparkingspace.affiliatetechnology.com/impression.php" width="0" height="0" />
</body>
</html>
